E3DC-V1/E3DC-V1.xcodeproj/project.xcworkspace/xcuserdata/eberhardmayer.xcuserdatad/UserInterfaceState.xcuserstate
.vscode
e3dc.config.txt
e3dc.config.txt.check
*.code-workspace
E3DC-Control
E3DC-V1/awattar.out
E3DC-V1/debug.out
E3DC-V1/wetter.out
E3DC-V1/e3dc.wallbox.txt
E3DC-V1/soc.txt
wetter.out
soc.txt
