E3DC-V1/E3DC-V1.xcodeproj/project.xcworkspace/xcuserdata/eberhardmayer.xcuserdatad/UserInterfaceState.xcuserstate
.vscode
e3dc.config.txt
e3dc.config.txt.check
*.code-workspace
E3DC-Control
E3DC-V1/awattar.out
E3DC-V1/debug.out
E3DC-V1/debug1.out
E3DC-V1/wetter.out
E3DC-V1/e3dc.wallbox.txt
E3DC-V1/soc.txt
E3DC-V1/e3dc.hourly.txt
wetter.out
soc.txt
E3DC-V1/awattarlog0.out
E3DC-V1/forecast.json
E3DC-V1/forecast0.json
E3DC-V1/forecast1.json
E3DC-V1/forecast2.json
E3DC-V1/forecast3.json
E3DC-V1/awattardebug.out
E3DC-V1/awattarlog1.out
E3DC-V1/awattarlog2.out
E3DC-V1/awattarlog3.out
E3DC-V1/awattarlog4.out
E3DC-V1/awattarlog5.out
E3DC-V1/awattarlog6.out
E3DC-V1/savedtoday.txt
E3DC-V1/Weekhour.dat
E3DC-V1/PVStat.*
E3DC-V1/Ertrag.*
